body{
    background-color: moccasin;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-family: Arial,sans-serif;
}
.carousel-box{
    width: 90%;
    max-width: 350px;
    height: 450px;
    position:relative;   
    border-radius: 10px;
    overflow: hidden;
}
.carousel-img{
    width:100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
}
.btn{
    position:absolute;
    bottom:15px;
    border:none;
    padding: 8px 15px;
    border-radius: 6px;
    cursor: pointer; 
}
#prevBtn{
    left: 10px;
}
#nextBtn{
    right: 10px;
}
.btn:hover{
    background:white;
}